{% block lightsanitycontent %}
<!-- lightsanitycontent select scripts -->
 <TR>
      <TH COLSPAN=7 bgcolor=Black><font size=4 color=red face=Calibri>Light Sanity Test Suite Details</font></TH>
 </TR>

<tr>
    <TD class = "select" align="center" COLSPAN=7>
        Environment <select name="lsenvironment" title="Please select environment" id="lsenvironment" onchange="setlsenvironmentatRowLevel()">
                <option value="UAT4">UAT4</option>
                <option value="UAT1">UAT1</option>
                <option value="SIT4">SIT4</option>
                <option value="SIT1">SIT1</option>
        </select>
    </TD>
</tr>

<TR>
  <TH><font face="Calibri" color="red" size="4">Environment</font></TH>
  <TH><font face="Calibri" color="red" size="4">Test Script</font></TH>
  <TH><font face="Calibri" color="red" size="4">Machine</font></TH>
  <TH><font face="Calibri" color="red" size="4">Execute</font></TH>
  <TH><font face="Calibri" color="red" size="4">Status</font></TH>
  <TH COLSPAN=2><font face="Calibri" color="red" size="4">Action</font></TH>
</TR>

<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="lsenvironment">
                <option value="UAT4">UAT4</option>
                <option value="UAT1">UAT1</option>
                <option value="SIT4">SIT4</option>
                <option value="SIT1">SIT1</option>
        </select>
  </TD>
  <td>
        <select name="lsscript">
                <option value="AP_PrintConfiguredQuote_PCKBP" selected >AP_PrintConfiguredQuote_PCKBP</option>
                <option value="AP_Product_Private Cage with kVA Based Power">AP_Product_Private Cage with kVA Based Power</option>
                <option value="AP_Product_ConfigurableAccessories">AP_Product_ConfigurableAccessories</option>
                <option value="AP_Product_EQX_IEPP_Equinix Internet Exchange Port">AP_Product_Equinix Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="lsmachine">
            <option value="ny2wnlrlg01" selected>ny2wnlrlg01</option>
            <option value="dc1wnlrlg01">dc1wnlrlg01</option>
            <option value="pa2wnlrlg01">pa2wnlrlg01</option>
            <option value="fr2wnlrlg01">fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="lsexecute"></TD>
  <TD>No Run</TD>
  <TD><button title="Add Row" onclick="addrowforlightsanity();return false;" name="Add Row">+</button> </TD>
  <TD><button title="Delete Row" name="Delete Row" onclick="deleterowintable(this);">-</button> </TD>
    <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
{% endblock lightsanitycontent %}


