<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<link rel="stylesheet" href='{%static "css/styleAutomationUI.css"%}' type="text/css">
<body>
		<center>
			<a href="http://www.equinix.com/">
			<img src ='{%static "img/Equinixlogo.png"%}' height="60" width="100" align="left">
			</a>
			<img src ='{%static "img/heading.png"%}' height="60" width="500" align="center" title="Automation Test Engine" alt="Automation Test Engine">
        </center>
        <ul>
			<li><a href="/ate"><font face = "calibri" size=3><b>Home</b></font></a></li>
			<li><a href="/ate/tool/"><font face = "calibri" size=3><b>ATE</b></font></a></li>
			<li><a href="/upcomingfeatures"><font face = "calibri" size=3><b>Upcoming Features</b></font></a></li>
			<li><a href="/help" class = "active"><font face = "calibri" size=3><b>Help</b></font></a></li>
		</ul>

<font face="calibri" size="4" color = "black">
    &emsp;<b>How to use the tool to perform execution on Test Suite?</b>
<ol>
    <li> Access the automation test execution tool page</li><br>
    <li> Various test suites would be available for user selection in checkbox format</li><br>
    <li> On selection of test suite, test scripts available under the specific test suite would be listed to the user</li><br>
    <li> Add the needed test scripts under the test grid</li><br>
    <li> Provide email address in the WatchList field</li><br>
    <li> Click on Execute button to trigger the execution</li><br>
    <li> <b>Note:</b> Please refrain from clicking the back arrow button after form submission</li>
</ol>
</font>
</body>
</html>