{% extends "baseafterupdate.html" %}
{% block RMcontent %}
<!-- Release Management select scripts -->
 <TR>
      <TH><font face="Calibri" color="black" size="4">Environment</font></TH>
      <TH><font face="Calibri" color="black" size="4">Test Script</font></TH>
      <TH><font face="Calibri" color="black" size="4">Machine</font></TH>
      <TH><font face="Calibri" color="black" size="4">Execute</font></TH>
      <TH><font face="Calibri" color="black" size="4">Status</font></TH>
      <TH COLSPAN=2><font face="Calibri" color="black" size="4">Action</font></TH>
 </TR>
<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="RMenvironment1" id="RMenvironment1" disabled>
                <option>{{RMenvironment}}</option>
        </select>
  </TD>
  <td>
        <select name="RMscriptname1">
                <option value="AP_PrintConfiguredQuote_PCKBP" selected >Print Configured Quote PCKBP</option>
                <option value="Product_Private Cage with kVA Based Power" disabled>Private Cage with KVA Based Power</option>
                <option value="Product_ConfigurableAccessories" disabled>Configurable Accessories</option>
                <option value="Product_EQX_IEPP_Equinix Internet Exchange Port" disabled>Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="RMmachine1">
            <option value="ny2wnlrlg01" selected>ny2wnlrlg01</option>
            <option value="dc1wnlrlg01" disabled>dc1wnlrlg01</option>
            <option value="pa2wnlrlg01" disabled>pa2wnlrlg01</option>
            <option value="fr2wnlrlg01" disabled>fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="RMexecute1" disabled><input type="hidden" name="RMexecute1" value="on"></TD>

  <TD>{{RM1statusval}}</TD>
  <TD><button onclick="AddRow()" title="Add Row" disabled>+</button> </TD>
  <TD><button onclick="DeleteRow()" title="Delete Row" disabled>-</button> </TD>
    <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="RMenvironment2" id="RMenvironment2" disabled>
                <option>{{RMenvironment}}</option>
        </select>
  </TD>
  <td>
        <select name="RMscriptname2">
                <option value="AP_PrintConfiguredQuote_PCKBP" disabled >Print Configured Quote PCKBP</option>
                <option value="Product_Private Cage with kVA Based Power" selected>Private Cage with KVA Based Power</option>
                <option value="Product_ConfigurableAccessories" disabled>Configurable Accessories</option>
                <option value="Product_EQX_IEPP_Equinix Internet Exchange Port" disabled>Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="RMmachine2">
            <option value="ny2wnlrlg01" disabled>ny2wnlrlg01</option>
            <option value="dc1wnlrlg01" selected>dc1wnlrlg01</option>
            <option value="pa2wnlrlg01" disabled>pa2wnlrlg01</option>
            <option value="fr2wnlrlg01" disabled>fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="RMexecute2" disabled><input type="hidden" name="RMexecute2" value="on"></TD>
  <TD>{{RM2statusval}}</TD>
  <TD><button onclick="AddRow()" title="Add Row" disabled>+</button> </TD>
  <TD><button onclick="DeleteRow()" title="Delete Row" disabled>-</button> </TD>
    <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="RMenvironment3" id="RMenvironment3" disabled>
                <option>{{RMenvironment}}</option>
        </select>
  </TD>
  <td>
        <select name="RMscriptname3">
                <option value="AP_PrintConfiguredQuote_PCKBP" disabled >Print Configured Quote PCKBP</option>
                <option value="Product_Private Cage with kVA Based Power" disabled>Private Cage with KVA Based Power</option>
                <option value="Product_ConfigurableAccessories" selected>Configurable Accessories</option>
                <option value="Product_EQX_IEPP_Equinix Internet Exchange Port" disabled>Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="RMmachine3">
            <option value="ny2wnlrlg01" disabled >ny2wnlrlg01</option>
            <option value="dc1wnlrlg01" disabled>dc1wnlrlg01</option>
            <option value="pa2wnlrlg01" selected>pa2wnlrlg01</option>
            <option value="fr2wnlrlg01" disabled>fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="RMexecute3" disabled><input type="hidden" name="RMexecute3" value="on"></TD>
  <TD>{{RM3statusval}}</TD>
  <TD><button onclick="AddRow()" title="Add Row" disabled>+</button> </TD>
  <TD><button onclick="DeleteRow()" title="Delete Row" disabled>-</button> </TD>
  <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="RMenvironment4" id="RMenvironment4" disabled>
                <option>{{RMenvironment}}</option>
        </select>
  </TD>
  <td>
        <select name="RMscriptname4">
                <option value="AP_PrintConfiguredQuote_PCKBP" disabled >Print Configured Quote PCKBP</option>
                <option value="Product_Private Cage with kVA Based Power" disabled>Private Cage with KVA Based Power</option>
                <option value="Product_ConfigurableAccessories" disabled>Configurable Accessories</option>
                <option value="Product_EQX_IEPP_Equinix Internet Exchange Port" selected>Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="RMmachine4">
            <option value="ny2wnlrlg01" disabled >ny2wnlrlg01</option>
            <option value="dc1wnlrlg01" disabled>dc1wnlrlg01</option>
            <option value="pa2wnlrlg01" disabled>pa2wnlrlg01</option>
            <option value="fr2wnlrlg01" selected>fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="RMexecute4" disabled><input type="hidden" name="RMexecute4" value="on"></TD>
  <TD>{{RM4statusval}}</TD>
  <TD><button title="Add Row" disabled>+</button> </TD>
  <TD><button title="Delete Row" disabled>-</button> </TD>
  <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
{% endblock RMcontent %}

{% block lightsanitycontent %}
<!-- lightsanitycontent select scripts -->
 <TR>
      <TH><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Environment</p></TH>
      <TH><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Test Script</p></TH>
      <TH><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Machine</p></TH>
      <TH><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Execute</p></TH>
      <TH><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Status</p></TH>
      <TH COLSPAN=2><p style=font-size:11pt;font-family:Calibri;color:black;background-color:SkyBlue>Action</p></TH>
 </TR>
<TR ALIGN=CENTER>
  <TD class = "select">
        <select name="lsenvironment">
                <option value="UAT4">UAT4</option>
                <option value="SIT4">SIT4</option>
                <option value="SIT1">SIT1</option>
        </select>
  </TD>
  <td>
        <select name="lsscript">
                <option value="AP_PrintConfiguredQuote_PCKBP" selected >Print Configured Quote PCKBP</option>
                <option value="Product_Private Cage with kVA Based Power">Private Cage with KVA Based Power</option>
                <option value="Product_ConfigurableAccessories">Configurable Accessories</option>
                <option value="Product_EQX_IEPP_Equinix Internet Exchange Port">Internet Exchange Port</option>
        </select>
  </td>
  <TD class = "select">
        <select name="lsmachine">
            <option value="ny2wnlrlg01" selected>ny2wnlrlg01</option>
            <option value="dc1wnlrlg01">dc1wnlrlg01</option>
            <option value="pa2wnlrlg01">pa2wnlrlg01</option>
            <option value="fr2wnlrlg01">fr2wnlrlg01</option>
        </select>
  </TD>
  <TD><input type="checkbox" checked = "checked" name="lsexecute"></TD>
  <TD>No Run</TD>
  <TD><button title="Add Row" onclick="addrowforlightsanity();return false;" name="Add Row">+</button> </TD>
  <TD><button title="Delete Row" name="Delete Row" onclick="deleterowforlightsanity(this)">-</button> </TD>
    <!--<TD><button title="Stop Script" disabled>X</button> </TD>-->
</TR>
{% endblock lightsanitycontent %}


